*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #321450;
    --second-bg-color: #29132e;
    --text-color: #860029;
    --second-color: #de004e;
    --main-color: #f887ff;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}
body{
    background: var(--second-bg-color);
    color: var(--text-color)
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 10%;
    border-bottom: 1px solid transparent;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    var(--text-color) 0%,
    var(--second-color) 50%,
    var(--main-color) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}
.navbar {
    display: flex;
}
.navbar a{
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
    margin: 0 40px;
    transition: all .45s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a:active {
    color: var(--main-color);
}
#menu-icon {
    font-size: 28px;
    color: var(--second-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
.Home {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Uji {
    height: 700px;
    text-align: center;
}
.Uji h3{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    var(--second-bg-color) 5%,
    var(--bg-color) 29%,
    var(--second-color) 67%,
    var(--main-color) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
.BG-video {
    filter:opacity(40%);
    position:absolute;
    width: 100%;
    padding: auto 40%;
    top: 0;
}
.Summary{
    position: relative;
    padding: 0 10%;
    height: 660px;
    border-color: white;
    align-items: center;
    justify-content: center;
    display: block;
}
.Box-Sum{
    padding: 15px 15px 15px 15px;
    width: 100%;
    height: 600px;
    background-color: var(--main-color);
    border-radius: 10px;
    top: 50%;
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
.slide-content{
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 15px;
    margin-left: 10px;
}
.detail {
    align-items: center;
    text-align: center;
    color: var(--second-color);
}
.detail p{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
.detail button{
    margin-top: 20px;
    color: var(--bg-color);
    background-color: #de004e;
    font-weight: bold;
}
.slick-prev {
    line-height: 0;
    font-size: 50px;
    color: var(--second-color);
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    padding: 0;
    transform: translate(70%, -50%);
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    z-index: 1;
}

.slick-next {
    font-size: 50px;
    color: var(--second-color);
    line-height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    padding: 0;
    transform: translate(0%, -50%);
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    z-index: 1;
}
/*About*/
.About {
    height: 640px;
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
/*Footer*/
footer{
    height: 100px;
    background-color: var(--bg-color);
}
